; Android phone. See pc.cfg for how these files are used.

[application]
run/main_scene="res://scenes/ui/start_screen.tscn"

[debug]
file_logging/enable_file_logging=false

[display]
window/vsync/vsync_mode=0

[xr]
openxr/enabled=false

[rendering]
renderer/rendering_method.mobile="mobile"
vrs/mode=0
scaling_3d/scale=0.75
